apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
  - ../../base/ghost
configMapGenerator:
  - name: ghost-values
    files:
      - values.yaml
patches:
  - target:
      kind: HelmRelease
      name: ghost
    patch: |-
      - op: add
        path: /spec/valuesFrom
        value:
          - kind: ConfigMap
            name: ghost-values